# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\user\supermetro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
